<!-- add recipient panel -->
<div id="add-recipient-panel" class="col-xs-8 col-xs-offset-2" style="display: none; position: fixed; z-index: 999; top: 110px; left: 0;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><%= pat(:add_recipient) %></h3>
        </div>
        <div class="panel-body">
            <div class="col-xs-6">
                <%= label_tag pat(:all_emails), :class => 'control-label' %>
                <span id="add-all-emails" class="pull-right btn btn-info btn-xs"><%= pat(:add_all) %></span>
                <div class="controls" style="overflow-y: auto; height: 300px;">
                    <ul id="emails-list" class="list-group"></ul><!-- data display -->
                </div>
            </div>

            <div class="col-xs-6">
                <%= label_tag mat(:my_mail, :to_emails), :class => 'control-label' %>
                <span id="remove-all-selected-emails" class="pull-right btn btn-danger btn-xs"><%= pat(:remove_all) %></span>
                <div class="controls" style="overflow-y: auto; height: 300px;">
                    <ul id="selected-emails-list" class="list-group"></ul><!-- data display -->
                </div>
            </div>
        </div>
        <div class="panel-footer" align="right">
            <%= button_tag pat(:ok), :id => 'add-recipient-panel-confirm', :class => 'btn btn-success' %>
            <%= button_tag pat(:cancel), :id => 'add-recipient-panel-cancel', :class => 'btn btn-default' %>
        </div>
    </div>
</div>

<script>
    function set_list_group_item_right(name){
        return '<li class="list-group-item">' +
                '<span class="pull-right btn btn-danger btn-xs" data-dismiss="alert"><%= pat(:remove) %></span>' +
                '<span>' + name + '</span>' + '</li>';
    }
    function set_list_group_item_left(name){
        return '<li class="list-group-item">' +
                '<span class="pull-right btn btn-info btn-xs" onclick="add_email(\''+ name +'\');"><%= pat(:add) %></span>' +
                '<span>' + name + '</span>' + '</li>';
    }
</script>