<div class="col-xs-12">
    <% error = @my_mail.errors.include?(:title) %>
    <fieldset class="control-group <%= error ? 'has-error' : '' %>">

        <% content_tag :label, :id => 'add-recipient',:class => 'btn btn-primary btn-xs' do %>
            <%= mat(:my_mail, :to_emails) %><span class="caret"></span>
        <% end %>
        <div class="controls">
            <%= f.text_field :to_emails, :value => @my_mail.to_emails.join('; '), :class => 'form-control input-xlarge input-with-feedback' %>
            <span class="help-inline"><%= error ? f.error_message_on(:to_emails) : '发送给多人时地址请以分号 ; 隔开' %></span>
        </div>
    </fieldset>
</div>

<div class="col-xs-12">
    <% error = @my_mail.errors.include?(:title) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
        <%= f.label :title, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :title, :required => true, :class => 'form-control input-xlarge input-with-feedback' %>
            <span class='help-inline'><%= error ? f.error_message_on(:title) : '' %></span>
        </div>
    </fieldset>
</div>

<div class="col-xs-12">
    <% error = @my_mail.errors.include?(:content) %>
    <fieldset class="control-group <%= error ? 'has-error' : ''%>">
        <%= f.label :content, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :content, :class => 'ckeditor form-control input-xlarge input-with-feedback' %>
          <span class='help-inline'><%= error ? f.error_message_on(:content) : '' %></span>
        </div>
    </fieldset>
</div>
<div class="clearfix"></div>

<div class="form-actions modal-footer">
    <% if @my_mail.can_edit? %>
        <%= f.submit t('action.save_draft'), :class => 'btn btn-primary' %>
        &nbsp;
        <%= f.submit t('action.save_and_send'), :class => 'btn btn-info', :name => 'save_and_send' %>
        &nbsp;
    <% end %>
    <%= link_to t('action.cancel'), url(:my_mails, :index), :class => 'btn btn-default' %>
</div>

<%= partial 'add_recipient_panel' %>

<%= javascript_include_tag 'ckeditor/ckeditor' %>