<nav class="navbar hy-navbar">
    <div class="hy-navbar-logo blink">
        <%= image_tag 'logo.svg' %>
    </div>

    <div class="hy-navbar-menu">
        <ul class="nav hy-navbar-nav">
            <li><%= link_to t('navbar.home'), url(:home, :index), :class => ('active' if active == 'home') %></li>
            <li><%= link_to t('navbar.company'), url(:home, :company), :class => ('active' if active == 'company') %></li>
            <li><%= link_to t('navbar.product'), url(:products, :new_arrival), :class => ('active' if active == 'product') %></li>
            <li><%= link_to t('navbar.contact'), url(:home, :contact), :class => ('active' if active == 'contact') %></li>
            <li>
                <% if current_locale == :zh_cn %>
                    <%= link_to 'ENGLISH', url(:home, :set_locale, :locale => :en, :back_url => request.path) %>
                <% else %>
                    <%= link_to '中文', url(:home, :set_locale, :locale => :zh_cn, :back_url => request.path) %>
                <% end %>
            </li>
            <li>
                <% if logged_in? %>
                    <%= link_to t('navbar.my_account'), nil, :onclick => "$('#hy-logged-form').slideToggle(200);",
                                :class => ('active' if active == 'account') %>
                <% else %>
                    <%= link_to t('navbar.login_or_signup'), nil, :onclick => "$('#hy-login-form').slideToggle(200);",
                                :class => ('active' if active == 'account') %>
                <% end %>
            </li>
        </ul>
    </div>

    <% if logged_in? %>
        <%= partial 'shared/logged_form' %>
    <% else %>
        <%= partial 'shared/login_form' %>
    <% end %>
</nav>