<!-- base info -->
<div class="col-md-9">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><%= t(:base_info) %></h3>
        </div>
        <div class="panel-body row">
            <div class="col-xs-12">
                <% error = @product.errors.include?(:product_category_id) %>
                    <fieldset class="control-group <%= error ? 'has-error' : '' %>">
                    <%= f.label :product_category, :class => 'control-label' %>
                    <div class="controls">
                        <%= f.select :product_category_id, :options => [[]] + @category_options, :class => 'form-control' %>
                        <span class="help-inline"><%= error ? f.error_message_on(:product_category_id) : '' %></span>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <% %w[sku_code price_1 price_2 price_3].each do |field| %>
                    <% error = @product.errors.include?(field.to_sym) %>
                    <fieldset class="control-group <%= error ? 'has-error' : '' %>">
                        <%= f.label field, :class => 'control-label' %>
                        <div class="controls">
                            <% if field.start_with?('price') %>
                                <%= f.number_field field, :value => @product.__send__(field) , :required => true, :class => 'form-control', :min => 0, :step => 0.01 %>
                            <% else %>
                                <%= f.text_field field, :required => true, :class => 'form-control' %>
                            <% end %>
                            <span class="help-inline"><%= error ? f.error_message_on(field.to_sym) : '' %></span>
                        </div>
                    </fieldset>
                <% end %>

                <% error = @product.errors.include?(:thumbnail) %>
                <fieldset class="control-group <%= error ? 'has-error' : ''%>">
                    <%= f.label :thumbnail, :class => 'control-label' %>
                    <div class="controls">
                        <div class="pic-upload">
                            <% if @product.thumbnail.present? %>
                                <%= f.file_field :thumbnail, :class => 'inbox-file' %>
                                <%= image_tag @product.thumbnail.default_url %>
                            <% else %>
                                <%= f.file_field :thumbnail, :required => true, :class => 'inbox-file' %>
                                <%= image_tag 'alt.jpg' %>
                            <% end %>
                        </div>
                        <span class='help-inline'><%= error ? f.error_message_on(:thumbnail) : '' %></span>
                    </div>
                </fieldset>
            </div>

            <div class="col-md-4">
                <% %w[name size material description].each do |field| %>
                    <% error = @product.errors.include?(field.to_sym) %>
                    <fieldset class="control-group <%= error ? 'has-error' : '' %>">
                        <%= f.label field, :class => 'control-label' %>
                        <div class="controls">
                            <% if field.start_with?('description') %>
                                <%= f.text_area field, :class => 'form-control', :rows => 12, :style => 'resize: vertical;' %>
                            <% else %>
                                <%= f.text_field field, :required => true, :class => 'form-control' %>
                            <% end %>
                            <span class="help-inline"><%= error ? f.error_message_on(field.to_sym) : '' %></span>
                        </div>
                    </fieldset>
                <% end %>
            </div>

            <div class="col-md-4">
                <% %w[name_en size_en material_en description_en].each do |field| %>
                    <% error = @product.errors.include?(field.to_sym) %>
                    <fieldset class="control-group <%= error ? 'has-error' : '' %>">
                        <%= f.label field, :class => 'control-label' %>
                        <div class="controls">
                            <% if field.start_with?('description') %>
                                <%= f.text_area field, :class => 'form-control', :rows => 12, :style => 'resize: vertical;' %>
                            <% else %>
                                <%= f.text_field field, :required => true, :class => 'form-control' %>
                            <% end %>
                            <span class="help-inline"><%= error ? f.error_message_on(field.to_sym) : '' %></span>
                        </div>
                    </fieldset>
                <% end %>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="form-actions modal-footer">
            <%= f.submit t('action.save'), :class => 'btn btn-primary' if request.action == :edit %>
            &nbsp;
            <%= f.submit t('action.save_and_continue'), :class => 'btn btn-info', :name => 'save_and_continue' %>
            &nbsp;
            <%= link_to t('action.cancel'), url(:products, :index), :class => 'btn btn-default' %>
        </div>
    </div>
</div>
