<div class="col-xs-6">
    <% error = @product.errors.include?(:name) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
        <%= f.label :name, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :name, :required => true, :class => 'form-control input-xlarge input-with-feedback' %>
            <span class='help-inline'><%= error ? f.error_message_on(:name) : '' %></span>
        </div>
    </fieldset>
</div>

<div class="col-xs-6">
    <% error = @product.errors.include?(:sku_code) %>
    <fieldset class='control-group <%= error ? 'has-error' : ''%>'>
        <%= f.label :sku_code, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :sku_code, :required => true, :class => 'form-control input-xlarge input-with-feedback' %>
            <span class='help-inline'><%= error ? f.error_message_on(:sku_code) : '' %></span>
        </div>
    </fieldset>
</div>

<div class="col-xs-6">
    <% error = @product.errors.include?(:thumbnail) %>
    <fieldset class="control-group <%= error ? 'has-error' : ''%>">
        <%= f.label :thumbnail, :class => 'control-label' %>
        <div class="controls">
            <div class="pic-upload">
                <% if @product.thumbnail.present? %>
                    <%= f.file_field :thumbnail, :class => 'inbox-file' %>
                    <%= image_tag url(:products, :thumbnail_url, :id => @product.id, :t => @product.thumbnail_identifier) %>
                <% else %>
                    <%= f.file_field :thumbnail, :required => true, :class => 'inbox-file' %>
                    <%= image_tag 'alt.jpg' %>
                <% end %>
            </div>
            <span class='help-inline'><%= error ? f.error_message_on(:thumbnail) : '' %></span>
        </div>
    </fieldset>
</div>
<div class="clearfix"></div>

<div class="col-xs-12">
    <% error = @product.errors.include?(:description) %>
    <fieldset class="control-group <%= error ? 'has-error' : ''%>">
        <%= f.label :description, :class => 'control-label' %>
        <div class="controls">
            <%= f.text_area :description, :class => 'ckeditor form-control input-xlarge input-with-feedback' %>
            <span class='help-inline'><%= error ? f.error_message_on(:description) : '' %></span>
        </div>
    </fieldset>
</div>
<div class="clearfix"></div>

<div class="form-actions modal-footer">
    <%= f.submit pat(:save), :class => 'btn btn-primary' %>
    &nbsp;
    <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
    &nbsp;
    <%= link_to pat(:cancel), url(:products, :index), :class => 'btn btn-default' %>
</div>

<%= javascript_include_tag 'ckeditor/ckeditor' %>