<ul class="nav nav-tabs">
    <li class="active"> <%= link_to tag_icon(:list, pat(:list)), url(:products, :index) %></li>
    <li> <%= link_to tag_icon(:plus, pat(:new)), url(:products, :new) %></li>
</ul>

<div class="tabs-content">
    <div class="search-namespace">
        <% form_tag url(:products, :index), { :method => :get } do %>
            <% %w[name].each do |field| %>
                <div class="col-xs-12">
                    <%= label_tag mat(:product, :"#{field}"), :class => 'control-label' %>
                    <div class="controls">
                        <%= text_field_tag :"#{field}", { :value => params[:"#{field}"], :class => 'form-control' } %>
                    </div>
                </div>
            <% end %>

            <div class="clearfix"></div>

            <div class="form-actions modal-footer">
              <%= submit_tag pat(:search), :class => 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

    <% if @products.any? %>
        <table id="list" class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <!-- dropdown -->
                <th class="header list-menu"><%= partial 'shared/dropdown' %></th>
                <!-- thead -->
                <th class="header"><%= mat(:product, :id) %></th>
                <th class="header"><%= mat(:product, :sku_code) %></th>
                <th class="header"><%= mat(:product, :name) %></th>
                <th class="header"><%= mat(:product, :author) %></th>
                <th class="header"><%= mat(:product, :created_at) %></th>
                <th class="header"><%= mat(:product, :pv) %></th>
                <th class="header list-row-action-header"></th>
            </tr>
            </thead>

            <tbody>
            <% @products.each do |product| %>
                <tr class="list-row">
                    <td class="list-column list-selectable">
                        <%= check_box_tag 'product_ids[]', :value => product.id, :class => 'list-selectable-checkbox' %>
                    </td>
                    <td class="list-column"><%= product.id %></td>
                    <td class="list-column"><%= product.sku_code %></td>
                    <td class="list-column"><%= product.name %></td>
                    <td class="list-column"><%= product.author.try(:nickname) %></td>
                    <td class="list-column"><%= product.created_at.strftime('%F %T') %></td>
                    <td class="list-column"><%= product.pv %></td>
                    <td class="list-column list-row-action">
                        <div class='list-row-action-wrapper'>
                            <%= link_to tag_icon(:edit), :href => url(:products, :edit, :id => product.id), :rel => :tooltip, :title => "#{pat(:edit)} product", :class => 'list-row-action-wrapper-link' %>
                            <%= link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{pat(:delete)} product", :class => 'list-row-action-delete-one list-row-action-wrapper-link' %>
                            <div class="popover list-row-action-popover-delete-one left">
                                <div class=arrow> </div>
                                <h3 class=popover-title><%= pat(:delete, :model => 'product') %></h3>
                                <div class=popover-content>
                                    <% form_tag url(:products, :destroy, :id => product.id), :method => :delete do %>
                                        <%= submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                                        <div class="btn btn-default btn-small cancel"><%= pat(:cancel) %></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <div align="center">
            <%= will_paginate @products %>
        </div>
    <% else %>
        <div align="center" class="no-objects-found"><h3>Products not found</h3></div>
    <% end %>
</div>
