<ul class="nav nav-tabs">
    <li class="active"> <%= link_to tag_icon(:list, t(:list)), url(:products, :index) %></li>
    <li> <%= link_to tag_icon(:plus, t('action.new')), url(:products, :new) %></li>
</ul>

<div class="tabs-content">
    <div class="search-namespace">
        <% form_tag url(:products, :index), { :method => :get } do %>
            <% %w[sku_code name].each do |field| %>
                <div class="form-group col-xs-6 col-md-3">
                    <div class="controls input-group">
                        <span class="input-group-addon"><%= mat(:product, :"#{field}") %></span>
                        <%= text_field_tag :"#{field}", { :value => params[:"#{field}"], :class => 'form-control' } %>
                    </div>
                </div>
            <% end %>

            <div class="clearfix"></div>

            <div class="form-actions modal-footer">
              <%= submit_tag t('action.search'), :class => 'btn btn-primary' %>
            </div>
        <% end %>
    </div>

    <% if @products.any? %>
        <table id="list" class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th class="header"><%= mat(:product, :created_at) %></th>
                <th class="header"><%= mat(:product, :sku_code) %></th>
                <th class="header"><%= mat(:product, :name) %></th>
                <th class="header"><%= mat(:product, :product_category) %></th>
                <th class="header"><%= mat(:product, :size) %></th>
                <th class="header"><%= mat(:product, :material) %></th>
                <th class="header"><%= mat(:product, :pv) %></th>
                <th class="header list-row-action-header"></th>
            </tr>
            </thead>

            <tbody>
            <% @products.each do |product| %>
                <tr class="list-row">
                    <td class="list-column"><%= product.created_at.strftime('%F %T') %></td>
                    <td class="list-column"><%= product.sku_code %></td>
                    <td class="list-column"><%= product.name %></td>
                    <td class="list-column"><%= product.product_category.try(:name_breadcrumb) %></td>
                    <td class="list-column"><%= product.size %></td>
                    <td class="list-column"><%= product.material %></td>
                    <td class="list-column"><%= product.pv %></td>
                    <td class="list-column list-row-action">
                        <div class='list-row-action-wrapper'>
                            <%= link_to tag_icon(:edit), :href => url(:products, :edit, :id => product.id), :rel => :tooltip, :title => "#{t('action.edit')} product", :class => 'list-row-action-wrapper-link' %>
                            <%= link_to tag_icon('trash-o'), :rel => :tooltip, :title => "#{t('action.delete')} product", :class => 'list-row-action-delete-one list-row-action-wrapper-link' %>
                            <div class="popover list-row-action-popover-delete-one left">
                                <div class=arrow> </div>
                                <h3 class=popover-title><%= t('action.delete') %></h3>
                                <div class=popover-content>
                                    <% form_tag url(:products, :destroy, :id => product.id), :method => :delete do %>
                                        <%= submit_tag t('action.delete'), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small' %>
                                        <div class="btn btn-default btn-small cancel"><%= t('action.cancel') %></div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <div align="center">
            <%= will_paginate @products %>
        </div>
    <% else %>
        <div align="center" class="no-objects-found"><h3>Products not found</h3></div>
    <% end %>
</div>
