<ul class="nav nav-tabs">
    <li> <%= link_to tag_icon(:list, t(:list)), url(:orders, :index) %></li>
    <li class="active"> <%= link_to tag_icon(:tag, t('action.process')), url(:orders, :process, :id => @order.id) %></li>
</ul>
<div class="tabs-content">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-group">
            <li class="list-group-item active">
                <%= t(:order_info) %>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= mat(:order, :status) %></h4>
                <p class="list-group-item-text"><%= t("order_status.#{@order.status}") %></p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= mat(:order, :account) %></h4>
                <p class="list-group-item-text"><%= link_to @order.account.email, url(:accounts, :edit, :id => @order.account_id) %></p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= mat(:order, :product) %></h4>
                <p class="list-group-item-text"><%= link_to @order.product.name_locale, url(:products, :edit, :id => @order.product_id) %></p>
                <%= image_tag @order.product.thumbnail.default_url, :class => 'thumbnail', :style => 'height: 150px; max-width: 100%;' %>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= mat(:order, :quantity) %></h4>
                <p class="list-group-item-text"><%= @order.quantity %></p>
            </li>
            <li class="list-group-item">
                <h4 class="list-group-item-heading"><%= mat(:order, :content) %></h4>
                <p class="list-group-item-text"><%= @order.content %></p>
            </li>
            <% unless @order.status == 'closed' %>
            <li class="list-group-item" style="text-align: right;">
                <%= button_to(:close, url(:orders, :close, :id => @order.id), :method => :put, :onsubmit => "return confirm('#{t(:sure_to_close)}');",
                                :submit_options => { :type => :submit, :class => 'btn btn-success' }) { "#{tag_icon(:check)} #{t('action.close')}".html_safe } %>
            </li>
            <% end %>
        </ul>
    </div>
</div>