<% %w[name sex birthday mobile_phone telephone fax email website company company_addr department position].each do |field| %>
    <div class="col-sm-3 col-xs-6">
        <% error = @customer.errors.include?(:"#{field}") %>
        <fieldset class="control-group <%= error ? 'has-error' : ''%>">
            <%= f.label :"#{field}", :class => 'control-label' %>
            <div class="controls">
                <% if field == 'sex' %>
                    <%= f.select :"#{field}", :options => [[t('male'), 'male'], [t('female'), 'female'], [t('other'), 'other']],
                                 :class => 'form-control input-xlarge input-with-feedback' %>
                <% else %>
                    <%= f.text_field :"#{field}", :class => 'form-control input-xlarge input-with-feedback' %>
                <% end %>
                <span class="help-inline"><%= error ? f.error_message_on(:"#{field}") : '' %></span>
            </div>
        </fieldset>
    </div>
<% end %>

<div class="clearfix"></div>

<div class="form-actions modal-footer">
    <%= f.submit pat(:save), :class => 'btn btn-primary' %>
    &nbsp;
    <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
    &nbsp;
    <%= link_to pat(:cancel), url(:customers, :index), :class => 'btn btn-default' %>
</div>


