<ul class="nav product-navbar-nav">
    <li>
        <%= link_to t(:new_arrival), url(:products, :new_arrival), :class => ('active' if active == 'new_arrival') %>
        <span class="tab"><%= image_tag 'hot.svg' %></span>
    </li>
    <% @main_categories.each do |category_g1| %>
        <li class="dropdown">
            <a class="dropdown-toggle <%= 'active' if active == category_g1.id %>"  data-toggle="dropdown"><%= category_g1.name %></a>
            <ul class="dropdown-menu">
                <% category_g1.children.each do |category_g2| %>
                    <li class="category-g2">
                        <% if category_g2.children.count > 0 %>
                        <ul id="category_<%= category_g2.id %>" class="dropdown-menu right category-g3">
                            <% category_g2.children.each do |category_g3| %>
                                <li>
                                    <%= link_to category_g3.name, url(:products, :category, :id => category_g3.id) %>
                                </li>
                            <% end %>
                        </ul>
                        <% end %>
                        <%= link_to category_g2.name, url(:products, :category, :id => category_g2.id) %>
                    </li>
                <% end %>
            </ul>
        </li>
    <% end %>
    <% if logged_in? %>
        <li><%= link_to t(:collections), url(:products, :collections), :class => ('active' if active == 'collections') %></li>
    <% end %>
</ul>