<div class="col-md-3 col-xs-6 showcase">
    <div class="showcase-container" data-toggle="modal" data-target="#product_<%= product.id %>" onclick="load_product_showcase('<%= product.id %>');"  onmouseover="$(this).addClass('active');" onmouseout="$(this).removeClass('active');">
        <div class="showcase-image">
            <%= image_tag product.thumbnail.default_url, :class => 'main' %>
            <%= (image_tag 'new.svg', :class => 'tab') if new_arrival %>
        </div>

        <div class="showcase-text-left">
            <p class="product-name"><%= product.name %></p>
            <p class="product-category"><%= product.product_category.try(:name_breadcrumb, '/') %></p>
        </div>
        <div class="showcase-text-right">
            <p class="product-price">
                <span class="symbol">¥</span>
                <span class="value"><%= product.price %></span>
            </p>
            <p class="product-pv">
                <span class="symbol"><%= image_tag 'pv_logo.svg' %></span>
                <span class="value"><%= product.pv %></span>
            </p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade showcase-modal" id="product_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>


