<!DOCTYPE html>
<html class="no-js" lang="zh-CN">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <meta name="keywords" content="<%= @title %>">
        <meta name="description" content="<%= @title %>">
        <%= content_tag :title, @title.present? ? @title : 'Wonton' %>
        <%= favicon_tag 'favicon-16x16.png' %>
        <%= stylesheet_link_tag 'bootstrap', 'sliders/ios/style', 'template', 'responsive', 'base-sizing' %>
        <%= javascript_include_tag 'jquery', 'modernizr.min' %>
    </head>

    <body class="kl-scrollspy one-page" data-spy="scroll" style="position: relative;">
        <%= yield %>
    </body>
</html>
