<ul class="nav nav-tabs">
    <li> <%= link_to tag_icon(:list, t(:list)), url(:product_categories, :index) %></li>
    <li> <%= link_to tag_icon(:plus, t(:new_product_category, :grade => 1)), url(:product_categories, :new) %></li>
    <li class="active"> <%= link_to tag_icon(:edit, t('action.edit')), url(:product_categories, :edit, :id => @product_category.id) %></li>
</ul>
<div class="tabs-content">
    <div class="row">
        <% if @parent %>
            <div class="col-xs-4">
                <ul class="list-group">
                    <%= content_tag :li, @parent.name_locale, :class => 'list-group-item active arrow-right', :title => @parent.description_locale %>
                </ul>
            </div>
        <% end %>

        <div class="col-xs-8">
            <% form_for :product_category, url(:product_categories, :update, :id => @product_category.id), :method => :put, :class => 'form-horizontal' do |f| %>
                <%= partial 'form', :locals => { :f => f } %>
            <% end %>
        </div>
    </div>
</div>